/*GLOBAL*/
*{
    padding:0;
    margin: 0; 
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 80px;
     background-color:rgb(15, 14, 14);
}
main {
    grid-area: main;
}
a {
    text-decoration: underline;
    color: white;
}

header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    color:yellow;
    text-align: center;
    height: 175px ;
}

.botao{
    width: 150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 3px transparent;

}
.img:hover{
    border: 3px solid rgb(18, 22, 236);
}

.img{
    border: 3px solid transparent;
    min-width: 150px;
    height: 150px;
    }

/* scoreboard styling*/
.score{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(186, 221, 27);
    width: 300px;
    height: 200px;
    align-items: center;
    border: 3px solid white;
    font-size: 1.3em;
}

.paragrafo{
    font-size: 1.2em;
    margin-top: 1.5em ;
}
#containerReset{                                     
    text-align: center;
}
#resetar:hover{
    opacity: 90%;
}
#resetar{
    font-family:monospace;
    font-size: 1.5em;
    border: 2px solid transparent;
    border-radius: 10%;
    width: 150px;
    margin-top:6%;
    height: 90px;
}
#resultado{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    margin-top: 6px;
    color:whitesmoke;
    text-transform: uppercase;
    text-align: center;

}
.showImg{
    width: 100px;
    height: 100px;
}
#scoreboard{
    display:flex;
    justify-content: center; 
    gap:15px;
    margin-top: 2%;
}   


#containerBotoes{
    width: 100%;
    display:flex;
    justify-content:center;
    gap: 4%;
}

footer{
    grid-area: footer;
    display: flex;
    align-items: end;
    padding: 2px 0;
    text-align: center;
    color: white;
    background-color: rgb(15, 14, 14);
    width: 100%;
}
#footerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;
}
#gitHubLogo {
    background-color: grey;
    width: 30px;
    border: solid 1px transparent;
    border-radius: 15px;
}


/* animacao para o logo do github girar*/
#gitHubLogo:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
